
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base kecil untuk font & smoothing */
:root {
  --bg-grad-from: #eaffd8; /* hijau muda pucat */
  --bg-grad-to: #c7f1b8;   /* hijau muda */
}
html, body, #root { height: 100%; }
body {
  @apply bg-gradient-to-b from-[#d7ffce] to-[#fafff6] text-gray-800;
  font-family: 'Poppins', sans-serif;
}
